/captures/
/.cursor/fulfillment-session.json
/.cursor/fulfillment-task.json
/.idea
/build/
/app/build/

bin/
gen/
out/
release/

/local.properties

*.iml
.gradle

.externalNativeBuild
.cxx
*.apk
*.ap_
*.aab
*.dex
*.class
